<form class="contact-form" method="post" action="https://formspree.io/{{site.data.settings.client.email}}">
  <input type="text" name="name" placeholder="Name" required>
  <input type="email" name="_replyto" placeholder="Email" required>
  <input type="text" name="phone" placeholder="Phone Number" required>
  <input type="text" name="company" placeholder="Company" required>
  <input type="text" name="product" placeholder="Product" required>
  <textarea name="Message" placeholder="Message"></textarea>
  <!-- Cloud cannon settings field -->
  <div class="hidden">
    <input type="hidden" name="_to" value="{{site.data.settings.client.email}}">
    <input type="hidden" name="_subject" value="Contact Message From HFHM">
    <input type="text" name="_gotcha">
  </div>

  <input type="submit" value="Whore yourself out">
</form>
